:host{
  background-color: #e5e5e5;
  text-align: center;
  flex-basis: 30.4%;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  background-color: inherit;
  border-radius: .2rem;
  cursor: pointer;

    &__header{
      align-self: center;
      margin-bottom: 1.5rem;
    }

    &__title{
      min-height: 4rem;
    }

    &__content{
      min-height: 20vh;
      flex-grow: 1;
    }
    &__footer{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-bottom: .4rem solid;
    }
    &__badge{
      display: inline-flex;
      gap: .5rem;
      cursor: pointer;
      margin-top: .5rem;

    }
    &__badge-wrapper{
      display: inline-flex;
      align-items: center;
      gap: .2rem;
   }

  &__btn{
  }
}


