:host {
  min-height: 100vh;
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  max-width: 80%;
  background-color: #dfebda;
}
.info {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.info__item {
  font-size: 0.8rem;
  margin: 0;
}

.like {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.img {
  width: 50%;
}
.description {
  word-break: break-all;
  overflow: hidden;
  text-align: justify;
}
