:host {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search_logo,
.search_btn {
  height: 56px;
}

.search_btn_centred {
  display: flex;
  justify-content: center;
  align-content: center;
}
