<div class="card__badge">
  <div class="card__badge-wrapper">
    <mat-icon  color="primary">preview</mat-icon><span>{{statistics.viewCount}}</span>
  </div>
  <div class="card__badge-wrapper">
    <mat-icon color="primary">comment_bank</mat-icon><span>{{statistics.commentCount}}</span>
  </div>
  <div class="card__badge-wrapper">
    <mat-icon color="primary">thumb_up</mat-icon><span>{{statistics.likeCount}}</span>
  </div>
  <div class="card__badge-wrapper">
    <mat-icon color="primary">thumb_down</mat-icon><span>{{statistics.dislikeCount}}</span>
  </div>
  <div class="card__badge-wrapper">
    <mat-icon color="primary">favorite</mat-icon><span>{{statistics.favoriteCount}}</span>
  </div>
</div>
